.dropdown_container{
	position: absolute;
	top:0;
	left:0;
	background: $white-color;
	min-width: 200px;
	box-shadow: 0 0 13.5px black;
	border-radius: 3px;
	// padding: 5px 18px;
	z-index: 1023;
	transition:0.4s;
	.dropdown-item {
		padding-top:10px;
		padding-bottom:10px;
	}
}