.dropdown_container{
	position: absolute;
	top:0;
	left:0;
	background: $white-color;
	min-width: 200px;
	box-shadow: 0 0 13.5px black;
	border-radius: 3px;
	// padding: 5px 18px;
	z-index: 1023;
	transition:0.4s;
	// padding: 4px;
	.dropdown-item {
		font-size: 14px;
		// padding-top:10px;
		// padding-bottom:10px;
		align-items: center;
		display: flex;
		height: 38px;
		&.active_children{
		background: $nav-highlight-color;

	}
	}
.dropdown_layer_nav{
	position: relative;
	.children_arrow{
		position: absolute;
right: 3px;
top: 0;
bottom: 0;
margin: auto;
width: 14px;
height: 15px;
width: 15px;
height: 100%;
opacity: 0.8;
display: flex;
align-items: center;
justify-content: center;
	}
}
}
.custom_dropdown {

		a{
			position: relative;
		&.active_master{
		color:$nav-highlight-color;
			}
	}
			.children_arrow{
				position: absolute;
				right:0;
			}
}
