@font-face {
  font-family: poppins_regular;
  src: url(@fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins_bold;
  src: url(@fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins_light;
  src: url(@fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins_medium;
  src: url(@fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins_thin;
  src: url(@fonts/Poppins-Thin.ttf);
}