@import "~bootstrap/scss/bootstrap";
@import './bootstrap.min.css';
@import "@fontawesome/css/all.min.css";
@import "./fonts";
$white-color:#ffffff;
:root{
	--primary-color:#02226d;
	--secondary-color:#b3cde0;
	--red-color:#fd0909;
}
$nav-highlight-color:#e9ecef;
body{
	*{
		font-family: poppins_regular;
	}
}
@import "common";
@import "pages/loginpage";
@import "components/template_master";
@import "components/header";
@import "components/customnavdropdown";